@tailwind base;
@tailwind components;

@import './tailwind-utils';
@import './markdown';

html,
body {
  padding: 0;
  margin: 0;
}

html.dark {
  body {
    @apply bg-zinc-900;
  }
}

* {
  box-sizing: border-box;
}